* {
  padding: 0%; 
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: url('../image/liverpool-image.jpeg') no-repeat center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  background-color: rgba(355, 120, 0, 0.5);
  width: 100%;
  margin: 100px auto 0;
  padding: 40px;
  max-width: 600px;
  border-radius: 20px;
}

.container h1 {
  padding-bottom: 80px;
  font-size: x-large;
  color: #fff;
}

.quiz-area {
  padding: 40px 0;
}

.quiz-area h2 {
  font-weight: 500;
  padding-bottom: 40px;
  color: #fff;
}

.btn {
  background: #fff;
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border: 5px 0;
  text-align: center;
  border-radius: 5px;
}
.btn:hover {
  background: black;
  color: #fff;
}