* {
  padding: 0%; 
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: url('../image/youll-never-walk-alone.jpeg') no-repeat center;
  background-size: cover;
  text-align: center;
  margin: 50px;
}

header {
  background-color: rgba(255, 0, 0, 0.741);
  width: 100%;
  margin: 100px auto 0;
  padding: 50px;
  max-width: 600px;
  border-radius: 20px;
  border: 5px solid #000000;
}

.container {
  background-color: rgba(255, 0, 0, 0.741);
  display: inline-block;
  flex-direction: row;
  padding: 50px;
  margin: 100px;
  border: 5px solid #000000;
  border-radius: 20px;

}

.quiz-area {
  padding: 40px 0;
}

.quiz-area h2 {
  font-weight: 500;
  padding-bottom: 40px;
  color: #fff;
}

.btn {
  background: #fff;
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border: 5px 0;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
}
.btn:hover {
  background: black;
  color: #fff;
}

.btn.correct:hover {
  background: green;
}

.btn.wrong:hover {
  background: red;
}

#next-btn {
  background: black;
  color: #fff;
  width: 100px;
  margin: 20px auto 0;
  border-radius: 5px;
  font-weight: 800;
  padding: 10px; 
}